{% extends 'projects/base.html' %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
    <h1>{{ project.title }}</h1>
    <p><strong>Категория:</strong> {{ project.category.name }}</p>
    <p><strong>Орналасқан жері:</strong> {{ project.location }}</p>
    <p><strong>Сипаттамасы:</strong> {{ project.description }}</p>
    <p><strong>Жарияланған күні:</strong> {{ project.date_posted|date:"d.m.Y H:i" }}</p>
    <hr>
    <a href="{% url 'project_list' %}">Тізімге қайту</a>
{% endblock %}